@media (orientation: landscape){
    :root{
    --currentDerection: row;
    }

    .progressBlock{
    min-width: 50%;
    min-height: 50%;
    }

    .progressBlockSector{
    height: 100%;
    width: 50%;
    }
}