@media (orientation: landscape){
    :root{
        --currentDerection: row;
        --currentFontSize: 30px;
    }


    .progressBarImage{
        width: 250px;
        height: 250px;
    }

    .progressBlockControlSector{
        justify-content: center;
    }

    .progressBlockSector{
        height: 100%;
        width: 50%;
    }
}