@media (orientation: landscape){
    :root{
    --currentDerection: row;
    --currentFontSize: 30px;
    }

    .progressBarImage{
        width: 250px;
        height: 250px;
    }
    .progressBarImageCircle{
        stroke-width: 15px;
        cx: 125px;
        cy: 125px;
        r: 95px;
    }

    .progressBlockSector{
    height: 100%;
    width: 50%;
    }
}