@keyframes --rotateAnimation{
    from{
        rotate: 0deg
    }
    to{
        rotate: 360deg
    }
}

*{
    -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
    box-sizing: border-box;
}
:root{
    --brideColor: rgb(14, 58, 255);
    --paleColor: rgb(230, 237, 255);

    --currentDerection: column;

    --currentFontSize: 60px;

}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    background-color: var(--paleColor);
    padding: 15px;
    display: flex;
    justify-content: center;
}


p, ul, li, label{
    padding: 0;
    margin: 0;
    font-size: var(--currentFontSize);

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
input[type='number']{
    -moz-appearance: textfield;
}

/*---------*/

.progressBlock{
    background-color: white;
    min-height: 50%;
    max-height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: var(--currentDerection);
}

.progressBlockSector{
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
    flex-direction: var(--currentDerection);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.progressBlockSeconderySector{
    min-height: 10%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.progressBlockContentSector{
    height: 90%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: var(--currentDerection);
    justify-content: center;
    align-items: center;
}

.progressBlockControlSector{
    justify-content: flex-start;
}

.barHeader{
    justify-self: flex-start;
}

.progressBar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressBarImageCircle{
    transition: all 0.1s ease-in-out;
}

.progressBarImageCircleBack{
    stroke: var(--paleColor);
    fill: transparent;
    transform-origin: center;
}

.progressBarImageCircleFront{
    stroke: var(--brideColor);
    fill: transparent;
    transform-origin: center;
    transform: rotate(-90deg);
    
}

.animated{
    animation-name: --rotateAnimation;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
}


.controlList{
    display: flex;
    flex-direction: column;
}

.controlElement{
    display: flex;
    align-items: center;
}

.controlElement:not(:last-child){
    font-size: var(--currentFontSize);
    margin-bottom: 0.8em;
}

.checkboxStyle {
    display: none;
}

.checkboxStyledLabel {
    font-size: var(--currentFontSize);
    display: block;
    position: relative;
    width: 3em;
    height: 1.6em;
    border-radius: 1.2em;
    background-color: var(--paleColor);
    cursor: pointer;
    
}
.checkboxStyledLabel:before {
    content: "";
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 1em;
    background-color: white;
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    transition: none;
}



.checkboxStyledLabel:hover::before{
    transition: all 0.2s ease-in-out;
}

.checkboxStyle:checked + .checkboxStyledLabel:before {
    left: 1.6em;
}

.checkboxStyle:checked + .checkboxStyledLabel {
    background-color: var(--brideColor);
}


.progressBarValue{
    font-size: var(--currentFontSize);
    width: 3em;
    height: 1.6em;
    border-radius: 1.2em;
    background-color: var(--paleColor);
    border: none;
    padding: 0 0.5em;
}


.controllerName{
    margin-left: 1em;
}
